{% extends 'adminapp/base.html' %}

{% block content %}
<div class="users_list">
<a class="btn btn-primary" style="color: white; margin: 20px; float: right" href="{% url 'adminapp:user_create'%}">Добавить пользователя</a>
<br>
{% for item in object_list %}

    <div class="user_record" {% if not item.is_active %}style="opacity: 0.5"{% endif %} >
    <div class="user_name">

        {% if item.is_superuser %}
            <p style="font-size: large; color: red; font-weight: bold">Администратор</p>
        {% else %}
        <p style="font-size: medium">Пользователь</p>
        {% endif %}
        <p>{{ item.username }}</p>
        <p>{{ item.get_full_name }}</p>

    </div>


    <div style="
    display: block;
    float: left;
    margin-top: 25px;
    margin-left: 5px;
    width: 160px;">

        <a class="btn btn-info" style="margin-bottom: 15px"  href="{% url 'adminapp:user_update' item.pk %}" >Изменить </a>
        <a class="btn btn-info" style="margin-bottom: 5px"  href="{% url 'adminapp:user_delete' item.pk %}">Удалить</a>
    </div>
    <div class="user_email">email: {{ item.email }}</div>
    <div class="user_age">age: {{ item.age }}</div>

     <div> <img src="/media/{{ item.avatar }}" /></div>
    </div>
    <br>
{% endfor %}

</div>

{% endblock %}